@import "./../../styles/variables.scss";

main.page {
  .dashboard-page {
    .search-error {
      color: $danger-color;
      margin-bottom: 10px;
      margin-left: 20px;
    }
    form {
      display: flex;
      justify-content: space-between;
      margin: 20px;

      @include form-elements-style;
      flex-direction: row;
      button {
        @include save-button;
        width: 20%;

        padding: 5px 10px;
      }

      margin-bottom: 20px;
    }

    .no-transactions {
      margin: 15px;
      margin-top: 25px;
      text-align: center;

      svg {
        font-size: 25px;

        @include breakpoint-large {
          font-size: 30px;
        }
      }
    }
  }
}
