@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@100;400&display=swap");
@import "./variables.scss";
@import "./reset.scss";

body {
  margin: 0;
  font-family: $body-font;
  font-size: 16px;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  color: $title-color;
  font-size: 28px;
  padding: 0;
  margin: 5px;
}

h2 {
  font-size: 23px;
}

main.page {
  flex: 1;

  .container {
    margin: 2rem;
  }

  .full-width {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  p {
    color: $text-color;
    font-size: 16px;
    line-height: 1.5rem;
  }
}
