@import "./../../styles/variables.scss";
header {
  display: flex;
  align-items: flex-start;
  background-color: $primary-color;
  color: white;
  padding: 25px 10px;
  height: 20%;
  align-items: center;

  svg {
    font-size: 36px;
    margin-right: 10px;
    margin-left: 15px;
    align-self: center;

    @include breakpoint-small {
      font-size: 36px;
    }

    @include breakpoint-large {
      font-size: 42px;
    }
  }

  div {
    font-size: 36px;
    font-family: $title-font;

    @include breakpoint-small {
      font-size: 36px;
    }

    @include breakpoint-large {
      font-size: 42px;
    }
  }
}
