@import "./../../styles/variables.scss";

.transaction-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;

  .error-message {
    color: $danger-color;
    margin-bottom: 10px;
  }

  table {
    text-align: center;
    th {
      background-color: $table-first-row-color;
      padding: 15px;
      margin-bottom: 5px;
    }

    td {
      background-color: $table-rows-color;
      padding: 10px;

      @include form-elements-style();
    }

    .income-amount {
      p {
        background-color: $success-color;
        color: white;
        padding: 3px;
        border-radius: 6px;
      }
      p::before {
        content: "+";
      }
    }

    .expense-amount {
      p {
        background-color: $danger-color;
        color: white;
        padding: 3px;
        border-radius: 6px;
      }

      p::before {
        content: "-";
      }
    }

    .action-column {
      button {
        border: none;
        background-color: rgba(222, 235, 234, 1);
        cursor: pointer;
        color: $text-color;

        svg {
          font-size: 27px;
        }

        &:hover {
          svg {
            color: $success-color;
          }
        }

        &.edit-button {
          margin-right: 20px;
        }
      }
    }
  }

  .action-save-column {
    padding: 0;

    .save-column {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0 8px;
      position: relative;
      top: 8px;

      button {
        border: none;
        background-color: $secondary-color;
        cursor: pointer;
        color: white;
        display: flex;
        padding: 4px 12px;
        border-radius: 8px;

        svg {
          font-size: 27px;
        }

        span {
          align-self: center;
          font-size: 16px;
          font-weight: bold;
        }

        &:hover {
          background-color: $success-color;
        }
      }
    }
  }
}
