@import "./../../styles/variables.scss";

main.page {
  .not-found-page {
    margin: 20px;
    display: flex;
    flex-direction: column;

    p {
      margin-left: 35px;
    }

    a {
      font-weight: bold;
      color: $primary-color;
    }

    img {
      height: 300px;
      width: 500px;
      align-self: center;
      margin-top: 20px;
    }
  }
}
